Package: com.antique.quayshift
Name: QuayShift
Depends: mobilesubstrate
Version: 0.1.3
Description: Custom 'Y' position for the dock
Depiction: https://antiquebeta.github.io/quayshift.html
Architecture: iphoneos-arm
Maintainer: Antique <boernai290@gmail.com>
Author: Antique <boernai290@gmail.com>
Section: Tweaks
