Package: com.antique.darksnap
Name: DarkSnap
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Cinema Mode for Snapchat
Depiction: https://antiquebeta.github.io/darksnap.html
Maintainer: Antique
Author: Antique
Section: Tweaks
