<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>ChameleonCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Chameleon - ChatKit</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Export</string>
			<key>label</key>
			<string>Disable Export</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>TextMessage</string>
			<key>label</key>
			<string>Disable Text Message</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Delete</string>
			<key>label</key>
			<string>Disable Delete</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Forward</string>
			<key>label</key>
			<string>Disable Forward</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>DrawerLayout</string>
			<key>label</key>
			<string>Disable Drawer Layout</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Display</string>
			<key>label</key>
			<string>Disable Message Display</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Tail</string>
			<key>label</key>
			<string>Disable Tail</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Editable</string>
			<key>label</key>
			<string>Disable Editable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Green</string>
			<key>label</key>
			<string>Disable Green</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Blue</string>
			<key>label</key>
			<string>Disable Blue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Chameleon - CKConversation</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Leave</string>
			<key>label</key>
			<string>Disable Leave(Group)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>ChatKit Settings</string>
</dict>
</plist>
