<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>ChameleonCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Chameleon - GEOPlatform</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>New</string>
			<key>label</key>
			<string>Enable iOS 9 Features</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Freedom</string>
			<key>label</key>
			<string>Enable Maps Freedom</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Navigation</string>
			<key>label</key>
			<string>Enable Navigation</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Watch</string>
			<key>label</key>
			<string>Enable Watch Pairing</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Force</string>
			<key>label</key>
			<string>Enable 3D Touch</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.antique.chameleon/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>Tiles</string>
			<key>label</key>
			<string>Enable Real Tiles</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>key</key>
			<string>kScale</string>
			<key>label</key>
			<string>System Scale</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.antique.chameleon</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>kScale</string>
			<key>label</key>
			<string></string>
			<key>placeholder</key>
			<string>Scale Value</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>GEOPlatform Settings</string>
</dict>
</plist>
