Package: com.antique.lsnobatt
Name: LSNoBatt
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Antique
Author: Antique
Section: Tweaks
