<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>LiveCustomCell</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.live</string>       
			<key>key</key>
			<string>View</string>      
			<key>label</key>
			<string>Hide Entire UI</string>       
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.live</string>       
			<key>key</key>
			<string>Emit</string>      
			<key>label</key>
			<string>Hide Emitter</string>       
		</dict>
<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.live</string>       
			<key>key</key>
			<string>Comment</string>      
			<key>label</key>
			<string>Hide Comment Box</string>       
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
<dict>
       <key>cell</key>
       <string>PSButtonCell</string>
       <key>action</key>
       <string>apply</string>
       <key>label</key>
       <string>Credits</string>
</dict>
	</array>
	<key>title</key>
	<string>Live+</string>
</dict>
</plist>
