<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>BlurControlsCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
</dict>
<dict>
    <key>cell</key>
        <string>PSLinkCell</string>
    <key>detail</key>
        <string>GBlurListController</string>
    <key>label</key>
        <string>General</string>
</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
</dict>
<dict>
    <key>cell</key>
        <string>PSLinkCell</string>
    <key>detail</key>
        <string>LSBlurListController</string>
    <key>label</key>
        <string>Lockscreen</string>
</dict>
<dict>
    <key>cell</key>
        <string>PSLinkCell</string>
    <key>detail</key>
        <string>DBlurListController</string>
    <key>label</key>
        <string>Dock</string>
</dict>
<dict>
    <key>cell</key>
        <string>PSLinkCell</string>
    <key>detail</key>
        <string>NCBlurListController</string>
    <key>label</key>
        <string>Notification Center</string>
</dict>
<dict>
    <key>cell</key>
        <string>PSLinkCell</string>
    <key>detail</key>
        <string>SLBlurListController</string>
    <key>label</key>
        <string>Spotlight</string>
</dict>
<dict>
    <key>cell</key>
        <string>PSLinkCell</string>
    <key>detail</key>
        <string>FTBlurListController</string>
    <key>label</key>
        <string>3D Touch</string>
</dict>
<dict>
    <key>cell</key>
        <string>PSLinkCell</string>
    <key>detail</key>
        <string>FBlurListController</string>
    <key>label</key>
        <string>Folders</string>
</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
