<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>DBlurCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.blurst</string>
			<key>key</key>
			<string>DBlur</string>
			<key>label</key>
			<string>Dock Blur</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.antique.blurst</string> 
			<key>key</key>
			<string>dblur</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<false/>
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
<dict>
       <key>cell</key>
       <string>PSButtonCell</string>
       <key>action</key>
       <string>respring</string>
       <key>label</key>
       <string>Respring</string>
</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
