<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>SnappedCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Snapped: Main Options</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.infinios</string>
			<key>key</key>
			<string>SnappedCinemaMode</string>
			<key>label</key>
			<string>Cinema Mode</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Snapped: Album Options</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.infinios</string>
			<key>key</key>
			<string>SnappedTopNumber</string>
			<key>label</key>
			<string>Hide Album Titles</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.antique.infinios</string>
			<key>key</key>
			<string>SnappedLowNumber</string>
			<key>label</key>
			<string>Hide Album Numbers</string>
		</dict>
	</array>
	<key>title</key>
	<string>Snapped</string>
</dict>
</plist>
